<div id="fh5co-footer">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.footer }}
      <div class="col-md-6">
	{{ .note | markdownify }}
      </div>
      <div class="col-md-6">
        {{ partial "social.html" (dict "context" . "listclass" "fh5co-social") }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
