
<div class="fh5co-2col fh5co-text">
    <div class="fh5co-grid">
        {{ range .image }}
            <div class="fh5co-grid-item" style="background-image: url({{ with .url }}{{ . | absURL }}{{ end }});"></div>
        {{ end }}
    </div>
</div>