<div class="fh5co-2col fh5co-overlay">
    <div class="fh5co-2col-inner">

        <div class="fh5co-tabs-container">
            <ul class="fh5co-tabs fh5co-three">
                <li class="active">
                    <a href="#" data-tab={{ .name }}>{{ .title | markdownify }}</a>
                </li>
            </ul>

            <div class="fh5co-tab-content active" data-tab-content={{ .name }}>
                <h2>{{ .subtitle | markdownify }}</h2>
                {{ .description | markdownify }}
            </div>
        </div>
    </div>
</div>