{{ $uselist := isset . "listclass" }}
{{ if $uselist }}
    <ul class="{{ .listclass }}">
{{ end }}
  {{ with .context.telephone }}
      {{ if $uselist }}<li>{{ end }}
        <a href="tel:{{ . }}" class="external" target="_blank"><i class="icon-phone"></i></a>
      {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.email }}
    {{ if $uselist }}<li>{{ end }}
    <a href="mailto:{{ . }}" class="external" target="_blank"><i class="icon-envelope"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.github }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-github"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.twitter }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-twitter"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.facebook }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-facebook"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.medium }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="fab fa-medium"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.vine }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-vine"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.linkedin }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-linkedin"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.instagram }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-instagram"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
  {{ with .context.whatsapp }}
    {{ if $uselist }}<li>{{ end }}
    <a href="{{ . }}" class="external" target="_blank"><i class="icon-whatsapp"></i></a>
    {{ if $uselist }}</li>{{ end }}
  {{ end }}
{{ if $uselist }}
    </ul>
{{ end }}